@font-face {
    font-family: Circular;
    src: url('./fonts/CircularStd.woff');
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');


:root {
    --test: calc(100vh - (100vw - 100%));
}

.backgroundvideo {
    width:  100%;
    /*
    100% takes scrollbars into account, 100vw - 100% results in width of the scrollbar
    */
    height: 100vh;
    object-fit: cover;

    position: absolute;
    top: 0;
    left: 0;

    z-index: -1;
}

.search-container {
    background: #30303050;
    backdrop-filter: blur(10px);
    border-radius: 1rem;

    display: flex;
    flex-direction: row;

    height: 5rem;
    width: 40%;
    min-width: 20rem;

    position: absolute;

    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: 0 auto;

    transition: top 1000ms;
}

.search-container.active {
    top: 5rem;
    bottom: auto
}

.search-container input {
    flex: 2;
    font-size: 2.5em;
    padding-left: 1em;

    background: transparent;
    border: none;

    font-family: Circular, sans-serif;
    color:  white;
    opacity: 1 !important;
    min-width: 0;
}

.search-container input:focus {
    outline: none;
}

.search-container img {
    cursor: pointer;
    padding: 1.5rem;
}

.weather-container img {
    min-width: 10rem;
    max-width: 25rem;
}

.weather-container {
    color: white;
    font-family: Circular, sans-serif;

    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;


    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: inherit;

    opacity: 0;
    pointer-events: none;
    transition: opacity 300ms;
}

.weather-container.active {
    opacity: 1;
}

.weather-description {
    align-self: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.weather-description .temperature {
    font-size: 10em;
    font-family: Circular, sans-serif;
    line-height: 0.7em;
}

.weather-description .main,
.weather-description .details {
    font-family: 'Open Sans';
    font-size: 2em;
    line-height: 1em;
}


.celsius-fahrenheit-switch {
    pointer-events: none;

    position: absolute;
    top: 0.5rem;
    right: 0.5rem;

    width: 4rem;
    height: 2rem;

    background: #30303050;
    backdrop-filter: blur(10px);
    border-radius: 0.2rem;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.celsius-fahrenheit-switch .selected {
    content: '';

    position: absolute;

    background: #30303050;
    backdrop-filter: blur(10px);
    border-radius: 0.2rem;

    width: 35%;
    height: 70%;

    left: 8%;
    transition: left 200ms;
}

input[name="isCelsius"]:checked + .selected
{
    left: calc((100% - 8%) - 35%);
}

.celsius-fahrenheit-switch input {
    pointer-events: auto;

    position: absolute;
    /*
    shorthand for top right left bottom
    */
    inset: 0;
    margin: auto;

    opacity: 0;

    width: 100%;
    height: 100%;
}

.celsius-fahrenheit-switch .celsius,
.celsius-fahrenheit-switch .fahrenheit {
    color: white;
    font-family: Circular, sans-serif;
    font-size: 1em;
}

/*CSS loader*/
@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}


.loading {
    opacity: 0;
    pointer-events: none;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: 2px solid black;
    border-top: 2px solid transparent;
    transition: opacity 200ms 200ms;
}

.loading.active {
    opacity: 1;
    animation: rotate 2s linear infinite;
}